<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='signup.css') }}">
    <title>Sign Up</title>
</head>
<body>

    <div class="container">
        <div class="signUp">
            <h1 class="title">BUCKET LIST APP</h1>
            <form class="form" method="POST">
                {{ regForm.csrf_token }}

                <div class="item">
                    {{ regForm.username.label(class="form-label")}}
                    {{ regForm.username(class="input") }}
                </div>

                <div class="item">
                    {% for error in regForm.username.errors %}
                     <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="item">
                    {{ regForm.email.label(class="form-label")}}
                    {{ regForm.email(class="input") }}
                </div>

                <div class="item">
                    {% for error in regForm.email.errors %}
                     <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="item">
                    {{ regForm.password.label(class="form-label")}}
                    {{ regForm.password(class="input") }}
                </div>

                <div class="item">
                    {% for error in regForm.password.errors %}
                     <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="item">
                    {{ regForm.repeat_password.label(class="form-label")}}
                    {{ regForm.repeat_password(class="input") }}
                </div>

                <div class="item">
                    {% for error in regForm.repeat_password.errors %}
                     <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="item">
                    {{ regForm.submit(class="submit") }}
                </div>

                <div class="item">
                    {% with messages = get_flashed_messages() %}
                        {% for flashed_message in messages %}
                            <span class="error">{{ flashed_message }}</span>
                        {% endfor %}
                    {% endwith %}
                </div>

            </form>

            <div class="signInLink">
                <a href="{{ url_for('signInPage') }}">Have an account? Sign In</a>
            </div>
        </div>

    </div>

</body>
</html>